.table-dark{
    background-color: #7f0909;
}
.thead-dark{
    background-color: #FFC500;
}
.carousel{
    height: 600px;
}
.carousel .jumbotron{
    height: 600px;
    background-image: url(wp3182073.jpg);
}
.btn-dark{
    background-color: #FFC500;

}
